<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/style/materialize.css">
    <link rel="stylesheet" type="text/css" href="assets/style/globalStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Mathieu Fontenille</title>

</head>

<body>
    <nav>
        <div class="nav-wrapper grey darken-2">
            <a class="brand-logo">Mathieu Fontenille</a>
        </div>
    </nav>

    <main>
        <img src="assets/MyPic.jpg" class="z-depth-1 circle elements-align" id="myPic">
        <p id="desc" class="flow-text elements-align">Jeune passionné d'informatique de <span id="age"></span> ans, actuellement en freelance dans l'attente de la rentrée 2017-2018.<br>
            Je recherche un CDD pour le reste de l'année 2017, disponible à partir de Mars.
            <br>je suis interessé par le développement web mais reste curieux des autres domaines.</p>
        <div class="row container elements-align">
            <a href="assets/CV%20Mathieu%20Fontenille%20version%20web.pdf" target="CV" id="downloadButton" class="waves-effect waves-light btn-large grey darken-1"><i class="left"><img class="icon left" src="assets/icons/download.png"></i>CV</a>
        </div>
    </main>

    <footer class="page-footer grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Me trouver ailleurs sur le web</h5>
                </div>
                <div class="col l4 offset-l2 s12 flexContainer">
                    <a class="grey-text text-lighten-3 iconFlex" href="https://fr.linkedin.com/in/mathieu-fontenille-b63287b4" target="LinkedIn"><img class="icon" src="assets/icons/LinkedIn.png"></a></>
                    <a class="grey-text text-lighten-3 iconFlex" href="https://github.com/Razshal" target="GitHub"><img class="icon" src="assets/icons/github.png"></a></li>
                    <a class="grey-text text-lighten-3 iconFlex" href="https://steamcommunity.com/id/razshal/" target="Steam"><img  class="icon" src="assets/icons/steam.png"></a></li>
                </div>
            </div>
        </div>
    </footer>

</body>
<script type="text/javascript" src="assets/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">
    var birthday = new Date("7 September 1994");
    var today = new Date();
    var age = document.getElementById("age");
    age.innerHTML = ((today.getTime() - birthday.getTime()) / 31536000000).toFixed(0);
    $(".button-collapse").sideNav();
</script>
<script type="text/javascript">
    window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='//rec.getsmartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '3044e7324e461681abe9bfaf5f06b096d0842487');
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84292541-1', 'auto');
    ga('send', 'pageview');

</script>

</html>