html, body, ul {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
html{
    width: 100%;
    height: 100%;
    background: black url("../backBlurWebOpti.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}
body{
    background: rgba(45, 45, 45, 0.62);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    position: absolute;
    background-color: #1d2120;
}
main{
    padding-top: 70px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin-bottom: 0 !important;
    flex: 1 0 auto;
}
img#myPic{
    max-width: 180px;
}
#desc{
    padding: 15px 10px 15px 10px;
    color: whitesmoke;
    background-color: #3a3a3a;
}
.icon{
    max-width: 50px;
    max-height: 50px;
}
.link:hover{
    transform:scale(1.25);
}
footer{
    text-align: center;
    color: whitesmoke;
    background-color: #414757 !important;
}
footer#exceptions{
    margin: 20px 0 0 0;
    padding: 20px 0 20px 0;
}
.link a{
    text-decoration: none;
    color: whitesmoke;
}
@media all and (min-width: 600px) {
    img#myPic{
        min-width: 280px;
        margin: 20px 0 20px 0;
    }
}
@media all and (min-width: 1000px) {
    .brand-logo{
        margin-left: 10px
    }
}
